<form (submit)="AddUser(newUser)">
    <input type="text" #newUser>
    <button>Send User</button>
</form>

<ul>
    <li *ngFor="let user of users">
      
      {{user}} <button (click)="DeleteUser(user)"> X</button>

    </li>
 </ul>

 

<!--

   <button (click)="sayHello()">
   Click me!
 </button>
<ul>
   <app-user *ngFor="let user of users" [nameUser]="user"> </app-user>
</ul>
  

  <li *ngIf="activated">
      activado!!
  </li>

<div class="div">
    <p>Name: {{name }}</p>
    <p>Street: {{ address.street}}</p>
    <p>City: {{ address.city}}</p>
    <ul>
      <li *ngFor="let hobby of hobbies">
        {{ hobby }}

      </li>
    </ul>
</div>
-->


 
